---
tags: [verification]
---

# Verification

> 

> **Property-based** testing is a software testing approach designed to verify a set of properties and invariants the software is expected to hold, rather than checking individual outcomes, by automatically generating a wide range of input scenarios.
> 

## Models

- Unit Testing
- Integration Testing Model
- Simulating Faulty Hardware
    - Network
    - Disk
    - …
- Property-based testing: …

Conceptual Model: Verification

## References

- https://github.com/JetBrains/lincheck
- https://en.wikipedia.org/wiki/Unit_testing
- https://en.wikipedia.org/wiki/Code_coverage
- https://en.wikipedia.org/wiki/Software_testing
- https://cacm.acm.org/practice/systems-correctness-practices-at-amazon-web-services/
- https://emptysqua.re/blog/intro-to-tla-plus-for-the-llm-era/