# Beckett, R., Gupta, A., Mahajan, R., & Walker, D. (2017). A general approach to network configuration verification. Proceedings of the Conference of the ACM Special Interest Group on Data Communication, 155–168.

```python
@inproceedings{beckett2017general,
  title={A general approach to network configuration verification},
  author={Beckett, Ryan and Gupta, Aarti and Mahajan, Ratul and Walker, David},
  booktitle={Proceedings of the Conference of the ACM Special Interest Group on Data Communication},
  pages={155--168},
  year={2017}
}
```

## Notes

---
