---
tags: [physical]
---

# Mugnier, Eric, et al. "Laurel: Unblocking automated verification with large language models." Proceedings of the ACM on Programming Languages 9.OOPSLA1 (2025): 1519-1545.


```python
{bitex reference}
```

## Notes

---
