# Formal Verification


> See [Formal Verification](note.html?n=technica/computation/dependability/formal-verification.md).
> 

> This to relevant - it should be on the main line of Computer Science Knowledge.
>