---
tags: [note]
---

# Formal Verification


> See [Formal Verification](/view.html?p=notes/technica/computation/dependability/formal-verification.md).
> 

> This to relevant - it should be on the main line of Computer Science Knowledge.
>